body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e2ddd0;
background-image: linear-gradient(180deg, #e2ddd0 41%, #afc4b4 100%);


}

h1 {
    font-size: 100px;
    padding-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#subtitle {
    font-weight: 300;
    font-style: italic;
    padding-left: 200px;
    margin-bottom: 100px;
}

#app {
    width: 60%;
    margin-left: 100px;
    margin-bottom: 100px;
    
    
}

h2 {
    margin-top: 100px;
}
    

p {
    font-weight: 300;
}
